.top-content{
  max-height: 500px;
  overflow-y: auto;
}
.train-stats{
  max-height: 250x;
  overflow-y: auto;
}
.top-content{
  border-radius: 5px;
}
.table-container {
  max-height: 250px; /* Adjust the maximum height as needed */
  overflow-y: auto;
}

  table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
  }
  
  th, td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
  }
  
  th {
    background-color: #f2f2f2;
  }


  