table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  margin-top: 20px;
  display: inline-block;
  margin-right: 20px;
}

th, td {
  padding: 12px;
  text-align: center;
  border: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
}

.manager-name {
  margin-top: 10px;
  font-size: 18px;
  font-weight: bold;
}

h3 {
  margin-top: 20px;
  font-size: 20px;
  font-weight: bold;
}

ul {
  list-style-type: none;
  padding: 0;
  display: inline-block;
}

li {
  margin-bottom: 10px;
}

.logout-button {
  margin-top: 20px;
}

table {
  margin-top: 20px;
}

ul {
  padding-left: 20px;
}

td {
  font-weight: bold;
}

.top-content {
  display: inline-flex;
}